.imgCoverEdit{
	padding: 5px;
	border: 1px solid silver;
	box-shadow: 1px 1px 3px gray;
	cursor: pointer;
	width: 210px;
	height: 294px;
	object-fit: contain;
}

.bookCoverCol{
	float: left;
	width: 250px;
	text-align: center;
}

.bookMainCol{
	float: right;
	width: calc(100% - 250px);
}

.bookEditTitle{
	display: inline-block;
	width: 69%;
}

.bookEditYear{
	display: inline-block;
	width: 29%;
}

