body{
	font-family: sans-serif;
	font-size: 12pt;
	background: url(../tmpl/background.png);
}

input, textarea{
	box-sizing: border-box;
	width: 100%;
	padding: 2px 5px;
	border: 1px solid gray;
	border-radius: 3px;
}

#wrap{
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 2px 2px 5px black;
}

#head{
	padding: 15px;
	box-shadow: 0 5px 3px -2px silver;
	background-color: whitesmoke;
}

#content{
	padding: 20px;
}

#blockLogo{
	width: 120px;
}

#blockTitle{
	font-family: serif;
	text-align: center;
	font-size: 5vw;
	color: #2c3e50;
	text-shadow: 1px 1px 2px gray;
}

#leftCol{
	width: 200px;
	float: left;
}

#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainCol{
	padding-left: 240px;
}

#modalWrap{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 73, 94, 0.4);
}

#modalForm{
	width: 45%;
	padding: 20px 10px;
	background-color: white;
	border: 1px solid silver;
	box-shadow: 1px 1px 3px gray;
}

#modalForm h3{
	margin: 0;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid silver;
}

#letterSelect{
	text-align: center;
}

#letterSelect a{
	display: inline-block;
	width: 20px;
	text-align: center;
}

#letterSelect a:hover{
	background-color: silver;
}

.hidden{
	display: none !important;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table.tableHovered tr:hover{
	background-color: silver;
}

.table td{
	border: 1px solid gray;
	padding: 3px 5px;
}

.bookThumb{
	padding: 2px;
	border: 1px solid gray;
	box-shadow: 1px 1px 3px gray;
	width: 105px;
	height: 147px;
	object-fit: contain;
}

.bookCellThumb{
	width: 120px;
	text-align: center;
}

.bookCellInfo{
	position: relative;
}

.btnInlineEdit{
	position: absolute;
	right: 10px;
	top: 10px;
	
}

.clearfix{
	clear: both;
}