<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Библиотека{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
		<div id="wrap">
			<div id="head"><a href="{{ path('homepage') }}"><img src="{{ asset('tmpl/logo.png') }}" /></a></div>
			<div id="content">
				{% block body %}{% endblock %}
			</div>
		</div>

		{% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
